.sequence {
	position: relative;
	text-align: left;
}

.seq-elements {
	position: relative;
	text-align: left;
}

.seq-element {
	visibility: hidden;
	opacity: 0;
	transition-property: opacity, visibility;
	transition-timing-function: ease-in-out;
}

.seq-element.active {
	visibility: visible;
	opacity: 1;
}

.seq-element:not(:first-child) {
	position: absolute;
	top: 0;
	left: 0;
}

.seq-position {
  -webkit-appearance: none;
  flex-grow: 1;
  height: 25px;
  background: #eeeeee;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.seq-position:hover {
  opacity: 1;
}

.seq-position::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.seq-position::-moz-range-thumb {
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.seq-play, .seq-step-b, .seq-step-f {
  color: #04AA6D;
  background: #eeeeee;
  border: none;
  padding: 0px 8px;
  height: 25px;
  margin: 2px !important;
}.sequence {
	position: relative;
	text-align: left;
}



.seq-position {
  -webkit-appearance: none;
  flex-grow: 1;
  height: 25px;
  background: #eeeeee;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.seq-position:hover {
  opacity: 1;
}

.seq-position::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.seq-position::-moz-range-thumb {
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.seq-play, .seq-step-b, .seq-step-f {
  color: #04AA6D;
  background: #eeeeee;
  border: none;
  padding: 0px 8px;
  height: 25px;
  margin: 2px !important;
}