input[type=checkbox] {
    display: none;
  }
  
.container img {
    margin: 5px;
    transition: transform 0.25s ease;
    cursor: zoom-in;
  }
  
input[type=checkbox]:checked ~ label > img {
    width: 900px;
    cursor: zoom-out;
    border: 5px;
    border-color: rgb(48, 196, 255);
    padding: 10px;
    border-radius: 30px;
  }