input[type=checkbox] {
    display: none;
  }
  
  .container img {
    margin: 100px;
    transition: transform 0.25s ease;
    cursor: zoom-in;
  }
  
  input[type=checkbox]:checked ~ label > img {
    width: 100%;
    cursor: zoom-out;
  }